<div *ngIf="!is_entrar" id="box" class="titulo card animated fadeIn" style="width: 38rem;">
    <div id="contenido" class="card-body fade-in text-center">
        <h5 class="card-title">Proyecto emprendimiento</h5>
        <h6 class="card-subtitle mb-2 text-muted">Presentado por:</h6>
        <p class="card-text">Carlos Acero y Omar Cuadrado Gutierrez</p>
        <p class="card-text">Contactenos:</p>
        <a href="#" class="card-link separar">cacero95@gmail.com</a>
        <a (click)="acceder()" class="btn btn-primary">Continuar</a>
    </div>

</div>

<main class="text-center animated fadeIn" *ngIf="is_entrar">


    <section class="items">

        <div class="card m-5 text-center col-xs-12 fade-in" style=" text-align:center;">
            <img src="http://scalar.usc.edu/works/race-and-the-digital/media/problem.jpg" style="height:300px; width:50%; margin-left:25%;" class="img-thumbnail img-circle" alt="http://scalar.usc.edu/works/race-and-the-digital/media/problem.jpg">
            <div class="card-body text-center">
                <h5 class="card-title">Problematica</h5>
                <p class="card-text">

                    Hoy en día es muy común proporcionar servicios o productos por internet, lo cual ha conllevado que el campo de mercadeo digital (marketing) se halla tornado en un entorno con bastante demanda y competitividad. Lastimosamente nuevas personas emprendedoras
                    que quieren proporcionar su producto o servicio por internet no cuentan con las herramientas adecuadas para saber que es útil y que no lo es, en otras palabras, no tiene un punto de partida claro para crear algo innovador que satisfaga
                    las necesidades de los clientes. Dicho lo anterior, existen herramientas tecnológicas (softwares de marketing) que permiten identificar dichas necesidades (saber que es útil y que no es útil por medio de un análisis de mercado), sin
                    embargo, dichas herramientas son costosas y su uso es complejo, ya que por lo general son creadas e implementadas para uso empresarial, pero no para el uso personal.



                </p>

            </div>
        </div>
        <br><br>
        <div class="card m-5 text-center col-xs-12 fade-in" style=" text-align:center;">

            <div class="card-body text-center">
                <h5 class="card-title">Objetivo general</h5>
                <p class="card-text">

                    Desarrollar un software de análisis de mercado que permita realizar análisis de sentimiento con base a la red social Twitter.

                </p>


                <h5> Objetivos especificos </h5>

                <div class="list-group fade-in">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Implementar un algoritmo de procesamiento del lenguaje natural para analizar la estructura semántica de un Tweet.</h5>
                            <small>1</small>
                        </div>

                        <small>Especifico.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Indagar sobre la opinion publica en la universidad piloto acerca del emprendimiento.</h5>
                            <small class="text-muted">2</small>
                        </div>

                        <small class="text-muted">Especifico.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Explorar la influencia de la red social Twitter al diseñar un proyecto.</h5>
                            <small class="text-muted">3</small>
                        </div>

                        <small class="text-muted">Especifico.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Describir las tecnologías que son útiles para realizar análisis de sentimiento.</h5>
                            <small class="text-muted">3</small>
                        </div>

                        <small class="text-muted">Especifico.</small>
                    </a>
                </div>

            </div>
        </div>





        <br>
        <br>
        <div class="card m-5 text-center col-xs-12 fade-in" style=" text-align:center;">
            <img src="https://1.bp.blogspot.com/-rlFSFbsIZDQ/WEg2ac0fAPI/AAAAAAAAGQ4/70CJgWVnytU7j8G0aAksLsg6wbrzeYObwCLcB/s1600/C%25C3%25B3mo%2BTener%2BExito%2BEn%2BTu%2BEmprendimiento%252C%2BQu%25C3%25A9%2BNecesitas%2BHacer%252C%2BLa%2BGu%25C3%25ADa.jpg" style="height:300px; width:50%; margin-left:25%;"
                class="img-thumbnail img-circle" alt="http://scalar.usc.edu/works/race-and-the-digital/media/problem.jpg">
            <div class="card-body text-center">
                <h5 class="card-title">Población objetivo</h5>
                <p class="card-text">

                    Hoy en día es muy común proporcionar servicios o productos por internet, lo cual ha conllevado que el campo de mercadeo digital (marketing) se halla tornado en un entorno con bastante demanda y competitividad. Lastimosamente nuevas personas emprendedoras
                    que quieren proporcionar su producto o servicio por internet no cuentan con las herramientas adecuadas para saber que es útil y que no lo es, en otras palabras, no tiene un punto de partida claro para crear algo innovador que satisfaga
                    las necesidades de los clientes. Dicho lo anterior, existen herramientas tecnológicas (softwares de marketing) que permiten identificar dichas necesidades (saber que es útil y que no es útil por medio de un análisis de mercado), sin
                    embargo, dichas herramientas son costosas y su uso es complejo, ya que por lo general son creadas e implementadas para uso empresarial, pero no para el uso personal.



                </p>

            </div>
        </div>


    </section>
    <br>
    <br>

    <section id="matriz">

        <section class="m-5 fade-in obalo">

            <div class="que_piensa animated fadeIn">
                <h2 class="text-center m-4">Que piensa, que siente?</h2>
                <ul class="m-2">
                    <li> Los emprendedores tienen miedo a tomar riesgos </li>
                    <li> Fracasar es parte del crecimiento de cualquier emprendedor </li>
                    <li> Inseguridad a la hora de buscar algun tema que me ayude en mi emprendimiento </li>
                    <li> Saber que nicho de mercado es rentable hoy en día es dificil </li>


                </ul>
            </div>
            <div class="que_ve animated fadeIn">
                <h2 class="text-center m-4">Que es lo que ve?</h2>
                <ul class="m-2">
                    <li>Que muchas personas no saben. Como abordar un tema.</li>
                    <li>Que hay personas que no saben que tema seleccionar para la tesis</li>
                    <li>Ser persistente incluso despúes de fracasar es fundamental</li>
                    <li>Poca probabilidad de exito al ser nuevo emprendedor</li>
                    <li>Dificultad para identificar posibles clientes para cualquier producto, o servicio</li>
                </ul>
            </div>
            <div class="que_escucha animated fadeIn">
                <h2 class="text-center">Que es lo que escucha?</h2>
                <ul class="alinear">
                    <li>Para ser buen emprendedor hay que tener buenos contactos</li>
                    <li> No tener una idea enfocada puede llevar a malos resultados.</li>
                    <li>La organización es fundamental a la hora de entrar, y abordar un proyecto a un proyecto</li>

                </ul>
            </div>
            <div class="que_dice animated fadeIn">
                <h2 class="text-center">Que es lo que dice y hace?</h2>
                <ul class="alinear">
                    <li>La gente se capacita en gestión de proyectos</li>
                    <li> Emprender no sirve, es mejor pertenecer a una organización.</li>
                    <li>Realiza pruebas para poder probar las ideas que vayan saliendo</li>
                    <li>Si un emprendedor falla en sus dos primeros proyectos, es mejor desistir</li>
                    <li>Toma cursos para mejorar la relaciones interpersonales</li>

                </ul>
            </div>
        </section>
        <section class="fade-in result m-5">
            <table class="tabla table m-5">
                <thead class="thead-dark animated fadeIn">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Esfuerzo</th>
                        <th scope="col">Resultado</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Identificar las necesidades de las personas</td>
                        <td>crear un servicio util para las personas</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Generar mas alternativas, o estrategias a la hora de que una persoa diseñe, o desarrollar una idea</td>
                        <td>Mejor uso del tiempo en cuestión de efectividad</td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Tener encuenta. La opinión usuarios con experiencia a la hora realizar emprendimiento en algun tema, o area</td>
                        <td>Realizar un producto innovador para el mercado</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Identificar posibles nichos de trabajo, a través de comentarios</td>
                        <td>Un poblcación objetiva mas alcansable</td>

                    </tr>
                </tbody>
            </table>


        </section>

        <h2 class="fade-in text-center m-5">Valores del proyecto</h2>
        <section class="fade-in valores m-5 text-center card-columns">

            <div class="card animated fadeIn img-thumbnail m-5 distanciar" style="width: 28rem;">
                <img src="https://conceptodefinicion.de/wp-content/uploads/2014/10/social.jpg" class="card-img-top img-thumbnail" alt="social">
                <div class="card-body">
                    <h5 class="card-title">Social (Redes sociales)</h5>
                    <p class="card-text">nuestro proyecto busca crear un producto que permita el análisis de sentimiento. Con el fin de crear un plan a las personas que quireran emprender un proyecto. Por esta razon se vera desde la parte interna, y externa:
                    </p>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Interno</h5>
                                <small>Explicación</small>
                            </div>
                            <p class="mb-1">Las personas involucradas en la producción del producto o servicio basados en el análisis de sentimiento.</p>
                            <small>Interno</small>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Externo</h5>
                                <small class="text-muted">Explicación</small>
                            </div>
                            <p class="mb-1">Los clientes que utilizaran el servicio o producto generado</p>
                            <small class="text-muted">Externo</small>
                        </a>
                    </div>

                </div>
            </div>
            <!--Cronograma-->




            <div class="m-5 card animated fadeIn img-thumbnail distanciar" style="width: 28rem;">
                <img src="https://www.partesdel.com/wp-content/uploads/Marco_Te%C3%B3rico.jpg" class="card-img-top img-thumbnail" alt="social">
                <div class="card-body">
                    <h5 class="card-title">Teorico</h5>
                    <p class="card-text">Debido a que nuestro proyecto esta divido en varias etapas , se es necesario llevar un plan esquemático Teórico a nivel investigativo para el desarrollo del software:</p>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">1</h5>
                                <small>Etapa 1</small>
                            </div>
                            <p class="mb-1">Investigar sobre tecnologías para realizar minería de datos.</p>
                            <small>Mineria de datos</small>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">2</h5>
                                <small class="text-muted">Etapa 2</small>
                            </div>
                            <p class="mb-1">Investigar sobre tecnologías para realizar análisis de sentimiento.</p>
                            <small class="text-muted">Analisis de sentimiento</small>
                        </a>
                    </div>


                </div>
            </div>
        </section>


    </section>

</main>